*{
    /* border: 2px solid red;  */
     /* background-color: black;  */
}

header{
    background-color: rgb(33, 1, 1);
    color: rgb(172, 179, 194);
    text-align: center;
    border: 5px solid rgb(174, 4, 4);
    }




